.footer {
  margin-bottom: 30px;
  text-align: center;
  margin-top: 80px;
}

.footer__contact{
 font-family: "Archivo Black", "Open Sans";
 font-size: 44px;
 margin-bottom: 20px;
}


.footer__email {
  font-family: "Open Sans";
  font-style: normal;
  color: #6c63ff;
  font-size: 18px;
  display: inline-block;
  transition: opacity 0.2s ease;
  text-decoration: none;
  margin-bottom: 30px;
}

.footer__email:hover{
  opacity: 0.5;
}

.footer__media-logos {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.footer__media-logos img {
  width: 24px;
  height: 24px;
}

.footer__media-logos a {
  transition: opacity 0.2s ease;
}

.footer__media-logos a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .footer__contact{
    font-family: "Archivo Black";
    font-size: 28px;
  }
  .footer__media-logos{
    max-width: 100%;
    gap: 40px;
  }

}