.footer {
  font-family: "Archivo Black", sans-serif;
  font-size: 44px;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 70px;
  padding-top: 60px;
  padding-bottom: 50px;
}


.footer__email {
  color: #6c63ff;
  display: block;
  font-size: 18px;
  display: inline-block;
  transition: opacity 0.2s ease;
}

.footer__email:hover{
  opacity: 0.5;
}

.footer__media-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding-top: 30px;
}

.footer__media-logos img {
  width: 24px;
  height: 24px;
}

.footer__media-logos a {
  transition: opacity 0.2s ease;
}

.footer__media-logos a:hover {
  opacity: 0.5;
}