.skills {
  margin-top: 50px;
  font-size: 40px;
}

.skills__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects {
  margin-top: 60px;
}

.projects h2{
  font-size: 40px;
}

.projects__grid {
  display: flex;
  gap: 20px;
}

.card {
  background-color: #2a2a2f;
  width: 100%;
}

.card img {
  width: 590px;
  height: 330px;
  object-fit: cover;
}

.card h3 {
  font-family: "Archivo Black", sans-serif;
  font-size: 24px;
  margin: 15px;
}

.card p {
  color: #b7b7c2;
  margin: 0 15px 20px;
  font-size: 18px;
  line-height: 1.5;
}