.skills {
  margin-top: 50px;
  font-size: 40px;
}

.skills h4{
  padding-top: 110px;
}

.skills__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.projects {
  margin-top: 100px;
}

.projects h2{
  font-size: 40px;
}

.projects__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #2a2a2f;
  width: 100%;
  overflow: hidden;
}

.card__image{
  position: relative;
}

.card__image img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.card__content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 30px;
  gap: 20px;
  height: auto;
}

.card h3 {
  font-family: "Archivo Black", sans-serif;
  font-size: 24px;
  margin: 15px;
}

.card p {
  color: #b7b7c2;
  margin: 0 15px 20px;
  font-size: 18px;
  line-height: 1.5;
}

.card__actions {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin: 10px 15px 20px;
}

.card__link:hover{
  opacity: 0.5;
}

.card__actions img{
  width: 20px;
  height: 20px;
}

.card__link {
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.2s ease;
}
.card__link-demo {
  color: #6d6dff;
}

.card__info{
  display: flex;
  flex-direction: column;
}

.card__skills{
  display: flex;
  position: absolute;
  bottom: 10px;
  left:12px;
  gap: 10px;
}

.card__skills img{
 width: 40px;
 height: 40px;
}